<html>

<head>
    <title>Add Products</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <h1>Add New Product</h1>
            <div class="addProductContainer">
                <form action="/products/add" method="post">
                    <div class="formItem">
                        <label for="productName">Product Name:</label> <br>
                        <input type="text" name="productName" id="productName">
                    </div>
                    <div class="formItem">
                        <label for="selectManufacturer">Manufacturer:</label> <br>
                        <select name="manufacturer" id="selectManufacturer">
                            <% manufacturers.forEach(manu=> { %>
                                <option value="<%= manu.manu_name %>">
                                    <%= manu.manu_name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="formItem">
                        <label for="selectCategory">Category:</label><br>
                        <select name="productCategory" id="selectCategory">
                            <% categories.forEach(cat=> { %>
                                <option value="<%= cat.cat_name %>">
                                    <%= cat.cat_name %>
                                </option>
                                <% }); %>
                        </select>
                    </div>
                    <div class="formItem">
                        <label for="productPrice">Price: $</label><br>
                        <input type="number" name="productPrice" id="productPrice" min="0">
                    </div>
                    <div class="formItem">
                        <label for="productQuantity">Quantity:</label><br>
                        <input type="number" name="productQuantity" id="productQuantity" min="0">
                    </div>
                    <div class="formItem">
                        <label for="productDescription">Description:</label><br>
                        <textarea name="productDescription" id="productDescription" rows="4"></textarea>
                    </div>
                    <button class="submitToDbBtn" type="submit">Add Product</button>
                </form>
            </div>

        </div>

        <%- include('./partials/footer.ejs') %>

</body>

</html>