<html>

<head>
    <title>Categories</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <div class="titleBar">
                <h1>Categories</h1>
                <a class="addAnchor" href="/categories/add">
                    <div class="add">Add</div>
                </a>
            </div>
            <div class="categoriesContainer">
                <table class="categoriesTable">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    <% if(locals.categories) {%>
                        <% categories.forEach(category=> {%>
                            <tr>
                                <td>
                                    <%= category.cat_name %>
                                </td>
                                <td>
                                    <%= category.description %>
                                </td>
                                <td><a href="/categories/edit/<%= category.category_id %>">Edit</a></td>
                            </tr>
                            <% });%>
                                <% }%>
                </table>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>

</body>

</html>