<html>

<head>
    <title>Edit Category</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <h1>Make changes to the category:</h1>

            <% if(locals.catInfo) {%>
                <div class="editContainer">
                    <% catInfo.forEach(c=> {%>

                        <form action="/categories/edit/<%= c.category_id %>" method="POST">
                            <div class="formItem">
                                <label for="categoryName">Name:</label><br>
                                <input type="text" name="categoryName" id="categoryName" value="<%= c.cat_name %>">
                            </div>
                            <div class="formItem">
                                <label for="categoryDescription">Description:</label><br>
                                <textarea name="categoryDescription" id="categoryDescription"
                                    rows="4"><%= c.description %></textarea>
                            </div>
                            <button type="submit" id="submitEditBtn" class="editItem"
                                data-id="<%- c.category_id%>">Submit Edit</button>
                        </form>
                        <button id="cancelEditBtn" class="editItem" data-id="<%- c.category_id%>">Cancel
                            Edit</button>

                        <% });%>
                </div>
                <% }%>
                    <%- include('./partials/errors.ejs') %>
        </div>

        <%- include('./partials/footer.ejs') %>
            <script>
                // const delBtn = document.querySelector("button#deleteItemBtn");
                const cancelEditBtn = document.querySelector("button#cancelEditBtn");
                const submitEditBtn = document.querySelector("button#submitEditBtn");

                submitEditBtn.addEventListener('click', () => {
                    console.log('submit clicked')
                });

                cancelEditBtn.addEventListener('click', () => {

                    console.log('cancel clicked')
                    window.location = '/categories';
                });

            </script>

</body>

</html>