<html>

<head>
    <title>Manufacturers</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <div class="titleBar">
                <h1>Manufacturers</h1>
                <a class="addAnchor" href="/manufacturers/add">
                    <div class="add">Add</div>
                </a>
            </div>
            <div class="manufacturersContainer">
                <table class="manufacturersTable">
                    <tr class="tableHeader">
                        <th>Name</th>
                        <th>Location</th>
                        <th>Notes</th>
                        <th></th>
                    </tr>
                    <% if(locals.manufacturers) {%>
                        <% manufacturers.forEach(manu=> {%>
                            <tr>
                                <td>
                                    <%= manu.manu_name %>
                                </td>
                                <td>
                                    <%= manu.location %>
                                </td>
                                <td>
                                    <%= manu.notes %>
                                </td>
                                <td><a href="/manufacturers/edit/<%= manu.manufacturer_id %>">Edit</a></td>

                            </tr>
                            <% });%>
                                <% }%>
                </table>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>

</body>

</html>