<html>

<head>
    <title>Product Details</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <h1>More info on the product!</h1>

            <% if(locals.product) {%>
                <div class="productDetailCard">
                    <% product.forEach(p=> {%>
                        <div class="productDetailsBody">
                            Name: <%= p.item_name %> <br>
                                Manufacturer: <%= p.manu_name %> <br>
                                    Price: <%= p.price %> <br>
                                        Qty: <%= p.quantity %> <br>
                                            Category: <%= p.cat_name %> <br>
                                                Description: <%= p.description %> <br>
                                                    ID: <%= p.item_id %> <br>


                                                        <br>

                                                        <button type="submit" id="deleteItemBtn" class="deleteItem"
                                                            data-id="<%- p.item_id%>">Delete</button>
                                                        <button type="submit" id="editItemBtn" class="editItem"
                                                            data-id="<%- p.item_id%>">Edit</button></div>

                        <div class="editProductDetails" style="display:none">
                            <form action="/products/edit/<%= p.item_id %>" method="POST">
                                <label for="productName">Name:</label>
                                <input type="text" name="productName" id="productName" value="<%= p.item_name %>"><br>
                                <label for="selectManufacturer">Manufacturer:</label>
                                <select name="manufacturer" id="selectManufacturer">
                                    <% manufacturers.forEach(manu=> { %>
                                        <option value="<%= manu.manu_name %>" <% if(p.manu_name===manu.manu_name) {%>
                                            selected <%}%> >
                                                <%= manu.manu_name %>
                                        </option>
                                        <% }); %>
                                </select><br>
                                <label for="productPrice">Price: </label>
                                <input type="number" name="productPrice" id="productPrice" value="<%= p.price %>"><br>
                                <label for="productQuantity">Quantity:</label>
                                <input type="number" name="productQuantity" id="productQuantity"
                                    value="<%= p.quantity %>"><br>
                                <label for="selectCategory">Category:</label>
                                <select name="productCategory" id="selectCategory">
                                    <% categories.forEach(cat=> { %>
                                        <option value="<%= cat.cat_name %>" <% if(p.cat_name===cat.cat_name) {%>
                                            selected <% } %>>
                                                <%= cat.cat_name %>
                                        </option>
                                        <% }); %>
                                </select><br>
                                <label for="productDescription">Description:</label>
                                <textarea name="productDescription"
                                    id="productDescription"><%= p.description %></textarea>
                                <br><br>
                                <button type="submit" id="submitEditBtn" class="editItem"
                                    data-id="<%- p.item_id%>">Submit Edit</button>
                            </form>
                            <button id="cancelEditBtn" class="editItem" data-id="<%- p.item_id%>">Cancel
                                Edit</button>
                        </div>
                        <% });%>
                            <% }%>
                </div>
        </div>

        <%- include('./partials/footer.ejs') %>
            <script>
                const delBtn = document.querySelector("button#deleteItemBtn");
                const editBtn = document.querySelector("button#editItemBtn");
                const cancelEditBtn = document.querySelector("button#cancelEditBtn");
                const submitEditBtn = document.querySelector("button#submitEditBtn");
                delBtn.addEventListener('click', e => {
                    const ep = `/products/${delBtn.dataset.id}`;
                    console.log(ep)
                    let delCheck = confirm('Are you sure you want to delete this item from the database?')
                    if (delCheck) {
                        fetch(ep, {
                            method: 'DELETE'
                        }).then((response) => response.json())
                            .then((data) => {
                                console.log(data.redirect);
                                window.location.href = data.redirect
                            })
                            .catch(err => console.log(typeof err));
                    }
                });

                editBtn.addEventListener('click', () => {
                    let staticDetails = document.querySelector('.productDetailsBody');
                    let editDetails = document.querySelector('.editProductDetails');
                    staticDetails.style.display = 'none';
                    editDetails.style.display = 'block';

                });

                submitEditBtn.addEventListener('click', () => {
                    let staticDetails = document.querySelector('.productDetailsBody');
                    let editDetails = document.querySelector('.editProductDetails');

                    staticDetails.style.display = 'block';
                    editDetails.style.display = 'none';
                });

                cancelEditBtn.addEventListener('click', () => {
                    let staticDetails = document.querySelector('.productDetailsBody');
                    let editDetails = document.querySelector('.editProductDetails');

                    staticDetails.style.display = 'block';
                    editDetails.style.display = 'none';
                });

            </script>

</body>

</html>