<html>

<head>
    <title>Product Details</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <h1>More info on the product!</h1>

            <% if(locals.product) {%>
                <div class="pageBody">

                    <% product.forEach(p=> {%>
                        <div class="detailContainer">
                            <div class="imageContainer"><img>image goes here :^)</div>
                            <div class="productDetailsBody">
                                <p>Name: <%= p.product_name %>
                                </p>
                                <p>Manufacturer: <%= p.manu_name %>
                                </p>
                                <p>Price: $<%= p.price %>
                                </p>
                                <p>Qty: <%= p.quantity %>
                                </p>
                                <p>Category: <%= p.cat_name %>
                                </p>
                                <p>Description: <%= p.description %>
                                </p>
                                <div class="buttonContainer">
                                    <button type="submit" id="deleteItemBtn" class="deleteItem"
                                        data-id="<%- p.product_id%>">Delete</button>
                                    <button type="submit" id="editItemBtn" class="editItem"
                                        data-id="<%- p.product_id%>">Edit</button>
                                </div>
                            </div>
                        </div>

                        <div class="editContainer" style="display:none">
                            <form action="/products/edit/<%= p.product_id %>" method="POST">
                                <div class="formItem">
                                    <label for="productName">Name:</label><br>
                                    <input type="text" name="productName" id="productName"
                                        value="<%= p.product_name %>">
                                </div>
                                <div class="formItem">
                                    <label for="selectManufacturer">Manufacturer:</label><br>
                                    <select name="manufacturer" id="selectManufacturer">
                                        <% manufacturers.forEach(manu=> { %>
                                            <option value="<%= manu.manu_name %>" <% if(p.manu_name===manu.manu_name)
                                                {%>
                                                selected <%}%> >
                                                    <%= manu.manu_name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="formItem">
                                    <label for="productPrice">Price: </label><br>
                                    <input type="number" name="productPrice" id="productPrice" value="<%= p.price %>">
                                </div>
                                <div class="formItem">
                                    <label for="productQuantity">Quantity:</label><br>
                                    <input type="number" name="productQuantity" id="productQuantity"
                                        value="<%= p.quantity %>">
                                </div>
                                <div class="formItem">
                                    <label for="selectCategory">Category:</label><br>
                                    <select name="productCategory" id="selectCategory">
                                        <% categories.forEach(cat=> { %>
                                            <option value="<%= cat.cat_name %>" <% if(p.cat_name===cat.cat_name) {%>
                                                selected <% } %>>
                                                    <%= cat.cat_name %>
                                            </option>
                                            <% }); %>
                                    </select>
                                </div>
                                <div class="formItem">
                                    <label for="productDescription">Description:</label><br>
                                    <textarea name="productDescription" id="productDescription"
                                        rows="4"><%= p.description %></textarea>
                                </div>
                                <button type="submit" id="submitEditBtn" class="editItem"
                                    data-id="<%- p.product_id%>">Submit Edit</button>
                            </form>
                            <button id="cancelEditBtn" class="editItem" data-id="<%- p.product_id%>">Cancel
                                Edit</button>
                        </div>
                        <% });%>
                            <% }%>
                </div>
                <%- include('./partials/errors.ejs') %>

        </div>

        <%- include('./partials/footer.ejs') %>
            <script>
                const delBtn = document.querySelector("button#deleteItemBtn");
                const editBtn = document.querySelector("button#editItemBtn");
                const cancelEditBtn = document.querySelector("button#cancelEditBtn");
                const submitEditBtn = document.querySelector("button#submitEditBtn");

                delBtn.addEventListener('click', async e => {
                    const ep = `/products/${delBtn.dataset.id}`;
                    let passwordInput = await prompt('Please enter the password to perform a delete:');

                    const request = new Request('/products/passwordCheck', {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json',
                            'Accept': 'application/json'
                        },
                        body: JSON.stringify({ password: passwordInput }),
                    });

                    const response = await fetch(request);

                    if (!response.ok) {
                        alert("Sorry, wrong password!")
                        throw new Error('Wrong password Error');
                    } else {
                        // const result = await response.json();
                        const delResponse = await fetch(ep, {
                            method: 'DELETE'
                        });
                        const respJSON = await delResponse.json();
                        window.location.href = respJSON.redirect;
                    }
                    // .then((resp) => resp.json())
                    //     .then(data => {

                    //         fetch(ep, {
                    //             method: 'DELETE'
                    //         }).then((response) => response.json())
                    //             .then((data) => {
                    //                 console.log(data.redirect);
                    //                 window.location.href = data.redirect
                    //             })
                    //             .catch(err => console.log(typeof err));
                    //     })


                    // let delCheck = confirm('Are you sure you want to delete this product from the database?')
                    // if (delCheck) {
                    //     fetch(ep, {
                    //         method: 'DELETE'
                    //     }).then((response) => response.json())
                    //         .then((data) => {
                    //             console.log(data.redirect);
                    //             window.location.href = data.redirect
                    //         })
                    //         .catch(err => console.log(typeof err));
                    // }
                });

                editBtn.addEventListener('click', () => {
                    let staticDetails = document.querySelector('.detailContainer');
                    let editDetails = document.querySelector('.editContainer');
                    staticDetails.style.display = 'none';
                    editDetails.style.display = 'flex';

                });

                submitEditBtn.addEventListener('click', () => {
                    let staticDetails = document.querySelector('.detailContainer');
                    let editDetails = document.querySelector('.editContainer');

                    staticDetails.style.display = 'flex';
                    editDetails.style.display = 'none';
                });

                cancelEditBtn.addEventListener('click', () => {
                    let staticDetails = document.querySelector('.detailContainer');
                    let editDetails = document.querySelector('.editContainer');

                    staticDetails.style.display = 'flex';
                    editDetails.style.display = 'none';
                });

            </script>

</body>

</html>