<html>

<head>
    <title>Products</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <div class="titleBar">
                <h1>Products</h1>
                <a class="addAnchor" href="/products/add">
                    <div class="add">Add</div>
                </a>
            </div>
            <div class="productsContainer">
                <table class="productsTable">
                    <tr class="tableHeader">
                        <th>Name</th>
                        <th>Manufacturer</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    <% if(locals.products) {%>
                        <% products.forEach(product=> {%>

                            <tr>
                                <td>
                                    <%= product.item_name %>
                                </td>
                                <td>
                                    <%= product.manu_name %>
                                </td>
                                <td>
                                    <%= product.cat_name %>
                                </td>
                                <td>
                                    $<%= product.price %>
                                </td>
                                <td>
                                    <%= product.quantity %>
                                </td>
                                <td>
                                    <%= product.description %>
                                </td>
                                <td><a href="/products/<%= product.item_id %>">View</a></td>
                            </tr>
                            </a>
                            <% });%>
                                <% }%>

                </table>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>

</body>

</html>