<html>

<head>
    <title>Products</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>
        <div class="mainContainer">
            <h1>Products</h1>
            <a href="/products/add">
                <div class="addProduct">Add Product</div>
            </a>
            <div class="productContainer">
                <ul>
                    <% if(locals.products) {%>
                        <% products.forEach(product=> {%>
                            <a href="/products/<%= product.item_id %>">
                                <li>
                                    Name: <%= product.item_name %> <br>
                                        Manufacturer: <%= product.manu_name %> <br>
                                            Price: <%= product.price %> <br>
                                                Qty: <%= product.quantity %> <br>
                                                    Category: <%= product.cat_name %> <br>
                                                        Description: <%= product.description %> <br>
                                </li> <br>
                            </a>
                            <% });%>
                                <% }%>
                </ul>
            </div>
        </div>

        <%- include('./partials/footer.ejs') %>

</body>

</html>